/* -------------------------- ANGULAR AND UTIL */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.undecorated-link:hover {
  text-decoration: none;
}


/* -------------------------- BOOTSTRAP EXTEND */

.card {
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(63, 63, 68, 0.1);
  background-color: #fff;
  margin-bottom: 30px;
}

.card .content {
  padding: 15px 15px 10px 15px;
}

.card .header {
  padding: 15px 15px 0;
}

.card .title {
  margin: 0;
  color: #333;
}

.card .footer {
  padding: 0;
  background-color: transparent;
  line-height: 30px;
}

.card .footer hr {
  margin-top: 5px;
  margin-bottom: 5px;
}


/* -------------------------- BASE AND LAYOUT */

html, body {
  font-family: lato, sans-serif;
  font-size: 12px;
}

body {
  background: url(/modules/core/img/brand/header-bg.png) repeat-x #f1f2f3;
}

hr {
  margin: 10px 0;
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/modules/core/img/loaders/loader-2.gif) center no-repeat #fff;
}


/* -------------------------- APP */

.app-header {
  margin: 20px 0;
}

.logo {
  background: url(/modules/core/img/brand/logo.png) center no-repeat transparent;
  width: 404px;
  height: 148px;
}


/* -- TABLE */

.table > thead > tr > th {  /* lol bootstrap selector */
  border-bottom: 0;
  font-weight: normal;
  font-style: italic;
  font-size: 10px;
  text-transform: uppercase;
}

.controls {
  margin: 10px 0;
}

.player-table-card .header {
  margin-bottom: 0;
}

.fb-player-stat-line {
  white-space: nowrap;
  display: inline-block;
  margin-bottom: .3em;
  margin-right: .5em;
}

.position-label {
  padding: .1em .5em;
  background: #eff0f1;
  border-radius: 20px;
  opacity: .7;
  display: inline-block;
  margin: 0 .1em 0 0;
}

.unique {
  color: #797;
	font-weight: bold;
}

.bandwagon {
  color: #976;
	font-weight: bold;
}


/* -- RESPONSIVE TABLE LIST */

.table-responsive-list th {
  display: none;
}

.table-responsive-list td {
  display: block;
}

.table-responsive-list > tbody > tr > td { /* lol bootsrap selector strikes again */
  border-top: none;
  padding: 4px;
}

.table-responsive-list td:before {
  content: attr(data-title) ": ";
  width: 6.5em;
  display: inline-block;
  color: #999;
  border-right: 1px dotted #999;
  margin-right: 1em;
}

.table-responsive-list .known {
  white-space: nowrap;
}

.table-responsive-list .team-name {
  font-size: 1.3em;
}

@media (min-width: 720px) {
  .table-responsive-list .team-name {
    font-size: 1em;
  }
  .table-responsive-list td:before {
    display: none;
  }
  .table-responsive-list th, .table-responsive-list td {
    display: table-cell;
  }
  .table-responsive-list > tbody > tr > td {
    border-top: 1px solid #ddd;
    padding: 8px;
  }
}
