<section ng-controller="PlayersController">
	<span class="loader" ng-show="loading"></span>
	<div ng-hide="loading">
		<div>
			Week:
			<select ng-model="selectedWeek" ng-change="changeWeek()">
				<option ng-repeat="i in allWeeks" ng-selected="i===selectedWeek" value="{{i}}">{{i}}</option>
			</select>
		</div>
		<table>
			<thead>
				<tr>
					<th>rank</th>
					<th>name</th>
					<th>points</th>
					<th>unknown count</th>
					<th>unknown positions</th>
					<th>known positions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="player in players">
					<td>{{player.unverifiedRank}}</td>
					<td>
						<a target="_blank" href="http://perfectchallenge.fantasy.nfl.com{{player.url}}">{{player.name}}</a>
					</td>
					<td>{{player.unverifiedPoints | number : 1}}</td>
					<td>{{player.unknownCount}}</td>
					<td>{{player.unknownPositions}}</td>
					<td>
						<span ng-repeat="fbPlayer in player.roster">
							<span ng-show="fbPlayer.known">
								{{fbPlayer.position}}: {{fbPlayer.firstName}}
								{{fbPlayer.lastName | limitTo : 1}}
								<span ng-show="fbPlayer.team"> - {{fbPlayer.team}}</span>
								({{fbPlayer.pts}})
							</span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
